<%= form_with(model: @category, local: true, url: admin_category_path) do |form| %>
  <%= form.label :name %>
  <div class="form-control">
    <%= form.text_field :name %>
    <%= form.submit %>
  </div>
<% end %>