<h1>Editing Category</h1>

<%= render 'form'%>

<br>
<div class="row">
  <div class="col-12">
    <%= link_to 'Show', admin_category_path(@category), class: "btn btn-outline-primary" %>
    <%= link_to 'Back', admin_categories_path, class: "btn btn-outline-primary" %>
  </div>
</div>