<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Category: <%= @category.name %></h1>

<%= render partial: "/shared/books", locals: { products: @products } %>

<%= paginate @products %>
