<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Category: <%= @category.name %></h1>

<div class="container">
  <div class="row">
      <% @books.each do |product| %>
        <% render partial: "books", product: product %>
    <% end %>
  </div>
</div>


